<!-- Conditionally rendering the card -->
<div *ngIf="showCard">
    <div class="card">
        <div class="card-title">
            <img src="./assets/images/CA.PNG">
            <div class="card-header">
                <span class="title">Coda Academy Batch 2021</span>
                <span class="subtitle">codaacademybatch2021.slack.com</span>
            </div>
        </div>
        <br>
        <hr>

        <!-- section1 -->
        <div class="section1">
            <h3>Total Messages</h3>
            <div class="text-img">
                <p>Upgrade to access your first 17k messages. </p>
                <img src="./assets/images/Spinner.PNG">
            </div>

            <div class="offer-img">
                <img src="https://a.slack-edge.com/bv1-8/flag-india-37b560f.png" alt="indian flag">
                <span class="offer">Get 60% off a paid plan, for a limited<br> time.<span class="blue-color">  See plans</span></span>
            </div>
        </div>
        <hr>

        <!-- List like items -->
        <div class="list">
            <div class="list-item">Invite people to Coda Academy Batch 2021</div>
            <div class="list-item">Create a Channel</div>
        </div>
        <hr>
        <div class="list">
            <div class="list-item">Preferences</div>
            <div class="list-item">Administration<a href="#" class="material-icons">
            keyboard_arrow_right</a></div>
        </div>
        <hr>
        <div class="list">
            <div class="list-item">Tools<a href="#" class="material-icons">
            keyboard_arrow_right</a></div>
        </div>
        <hr>
        <div class="list">
            <div class="list-item">Sign Out of Coda Academy Batch 2021</div>
        </div>
        <hr>
        <div class="list">
            <div class="list-item">Add Workspaces <a href="#" class="material-icons">
            keyboard_arrow_right</a></div>
            <div class="list-item">Open the Slack App
                <img src="https://a.slack-edge.com/bv1-8/slack_hash_128-004f20c.png" alt="Slack app logo">
            </div>
        </div>

    </div>
</div>