@import '~@ctrl/ngx-emoji-mart/picker';
//text box styling
.text {
    width: 99%;
    height: 45px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
}

.custom {
    position: absolute;
    z-index: 1;
    bottom: 13%;
    right: 2%;
}

.emoji-mart::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

.emoji-mart::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f1f5;
}

.emoji-mart::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(233, 218, 218, 0.3);
    background-color: #e9e3e9;
    ;
}

i {
    padding: 12px;
}

i:hover {
    border-radius: 8px;
    background-color: whitesmoke;
}

ba .send {
    background-color: white;
    margin-left: 19%;
    padding: 2px;
}

i {
    color: rgb(80, 73, 65);
}

.formatting {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: rgb(250, 250, 250);
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 8px;
    height: 40px;
}

.fa-bolt:hover {
    color: rgb(55, 108, 223);
}

.fa-smile:hover {
    color: rgb(240, 220, 44);
}

//message box styling
.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 30px;
    background-color: white;
    overflow: hidden;
    height: 85px;
    position: relative;
    bottom: 0;
}

//text formatting
.fa-font,
.fa-paper-plane,
.fa-at,
.fa-smile {
    position: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 8px;
    float: right;
    margin-right: 3px;
    margin-bottom: 3px;
}

//send button
.fa-paper-plane:hover {
    color: aliceblue;
    background-color: #007A5A;
}

input:focus {
    outline: none;
}

.fa-bolt {
    border-radius: 0px;
    border-right: 1px solid rgb(202, 202, 202);
}

//tooltip
.tooltipm {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
}

.tooltipm .tooltiptextm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    font-weight: normal;
}

.tooltipm .tooltiptextm::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltipm:hover .tooltiptextm {
    visibility: visible;
}