// .main-content{
//     height:88vh;
// }
#sidenav{
    background-color: #3F0E40;
    font-size:16px;
}
// .sidenav-list{
 
// }
// .sidenav-channelList{
   
// }
// .sidenav-DMList{
  
// }
.list{
    color:#bcabbc;
    margin-left: .2%;
    a{
        color:#bcabbc;
    }
}
.material-icons{
    padding-left: 0px;
  vertical-align:middle;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #bcabbc;
    margin-left:-1px;
}
.add{
    visibility: hidden;
    margin-left:20%;
    margin-left: auto;
}

.icon-name:hover + .add{
    visibility: visible; 
} 

.icon-name{
    font-size: 15px;
    line-height: 28px;
}

.sidenav-channelList{
    display: flex;
    flex-direction: column;
}
.mat-list-item-content{
    
    padding: 0%;
}
// .list1 .right{
//     margin-left: 80px;;
//   }
//   .list2 .right{
//     margin-left: 30px;;
//   }
//   .list3 .right{
//     margin-left: 110px;;
//   }
  