

#main-content{
   background-color: white;
}

#sidenav{
    background-color: #3F0E40;
    font-size:16px;
}

.list a{
    color:#bcabbc;
}
// .sidenav-list{
 
// }
// .sidenav-channelList{
   
// }
// .sidenav-DMList{
  
// }
.list{
    color:#bcabbc;
    margin-left: 6%;
    a{
        color:#bcabbc;
    }
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #bcabbc;
    margin-left:-1px;
}

