.example-viewport {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    height: 100%;
  }
  .receiver{
    height: 10%;
  }
  .h90{
    height: 90%;
  }
  .msg{
    height: 5%; width: 80%; 
  }
  .pl{
    padding-left: 25px;
    height: 80%;
  }
  /* width */
  .example-viewport::-webkit-scrollbar-track
  {
     
      border-radius: 10px;
      background-color: white;
  }
  .example-viewport::-webkit-scrollbar
  {
      width: 7px;
      background-color: #BCABBC;
  }
  .example-viewport::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      box-shadow:inset 0 0 6px rgba(0,0,0,.3) ;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #BCABBC;;
  }
  