<div style="height: 100%;">
    <app-chat-header [receiver]="receiver" style="height: 10%;"></app-chat-header>
    <div class="pl" style="height: 80%;">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" style="height: 100%;">
            <div *ngFor="let message of messages" class="example-item">
                <app-message-box [message]='message'></app-message-box>
            </div>
        </cdk-virtual-scroll-viewport>

    </div>
    <app-message style="height: 10%; width: 80%; " (sendMessage)="sendMessageToParent($event)"></app-message>
</div>