
<div class="rect">
   <div>
       <i class="fas fa-user fa-3x user-icon"></i>
    </div>
    <div class="text">
        <div class="float-menu drop-shadow">
            <i class="fa fa-smile-o fa-lg floating-icon tooltip" aria-hidden="true"><span class="tooltiptext">Add Reaction</span></i>
            <i class="fa fa-commenting-o fa-lg floating-icon tooltip" aria-hidden="true"><span class="tooltiptext">Reply in Thread</span></i>
            <i class="fa fa-share fa-lg floating-icon tooltip" aria-hidden="true"><span class="tooltiptext">Share Message</span></i>
            <i class="fa fa-bookmark fa-lg floating-icon tooltip" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v fa-lg floating-icon tooltip" aria-hidden="true"></i>

        </div>
        <span class="receiver">Receiver Name</span>  <span>15:20</span>
        <p>Message content</p>
        <p>Message content</p>
        <p>Message content</p>
        <p>Message content</p>
    </div>
   
</div>