.rect{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    clear: both;
    background-color: #FFFFFF;
    &:hover{
        background-color: #F8F8F8;
        .float-menu{visibility: visible;}
    }
}
.nav-user{
    width: 45px;
    height: auto;
    background-color: white;
    padding-bottom: 5px;     
    border-radius: 15%;  

}
.user-icon{
    background-color: cornflowerblue;
    color: white;
    padding-top: 7px;
    border-radius: 5px;
}
.floating-icon{
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
    &:hover{
        background-color: #F8F8F8;
       
    }
}
.text{
    padding-left: 10px;
    width: 100%;
    .receiver{
        padding-bottom: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        font-weight: bold;
        font-size: larger;
        &:hover{
            text-decoration: underline;
        }
        
        span{
            font-weight: lighter;
            font-size: smaller;
            margin-left: 5px;
        }
    }
    p{
        font-size: medium;
    }
    .float-menu{
        float: right;
        margin-top: -1%;
        visibility: hidden;
        border :1px solid #999999;
        border-radius: 5px;
        background-color: white;
    }
    .drop-shadow.bottom {
        box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
      }
      
      .drop-shadow.right {
        box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
      }
      
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -70px;
    font-size: smaller;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }