<!-- <div *ngIf="showCard"> -->
    <div class="card"> 
        <div class="card-title">
            <img src="./assets/images/profile.JPG"> 
            <div class="card-header">
                    <span class="title">Haritha Jayasankar</span>
                    <span class="subtitle"><span class="dot"></span>Active</span>
                 
            </div>
            
            
        </div>
        <div class="button">
            
            <span class="material-icons md-36 emoji">
               mood</span>
            <span class="text">Update your status</span>
        </div>
       
        <div class="list">
            <div class="list-item">Set yourself as<span class="bold"> away</span></div>
            <div class="list-item">Pause notifications<a href="#" class="material-icons icon">
                keyboard_arrow_right
            </a></div>
        </div>
        <hr>
        <div class="list">
            
               
                <div class="list-item edit-profile"> <img src="./assets/images/camera.JPG"> <span class="edit">Edit profile</span></div>
          
            <div class="list-item">View profile</div>
            <div class="list-item">Edit Profile</div>
            <div class="list-item">Preferences</div>

        </div>
        <hr>
        <div class="list">
            <div class="list-item">Sign out of Coda Academy Batch 2021</div>
        </div>
          
    </div>
    <!-- </div> -->
    
    