<div class="chat-head-container">
    <div class="user-info">

        <a href="#" title="Active"><span class="material-icons circle">stop_circle</span></a>
        <a href="#"><span class="user-name uname">Power Rangers</span></a>
        <a class="icon tooltip" href="#" ><span class="tooltiptext">Star Conversation</span><span class="material-icons star">star_rate</span></a>

    </div>
    <div class="right">
        <a class="icon tooltip" href="#" ><span class="tooltiptext">Call</span><span class="material-icons call">call</span></a>
        <a class="icon tooltip" href="#" ><span class="tooltiptext">Info</span><span class="material-icons info">info</span></a>
    </div>
</div>

